.profile-layout{
    -fx-background-color:#EBC95E;
    -fx-background-radius:35 0 50 50;
}

.button{
    -fx-background-color:#EBC95E;
    -fx-background-radius: 50;
}

.transparent{
-fx-background-color: rgba(0,0,0,0);
}

.light-gray-background{
    -fx-background-color: #F3F3F3;
}

.hs-button {
    -fx-background-color: #08C;
    -fx-background-radius: 10;
    -fx-border-width: 1;
    -fx-border-radius: 10;
    -fx-border-color: #06A;
    -fx-text-fill: #FFF;
    -fx-font-size: 12pt;


}

.schedule-layout{

    -fx-background-radius:35 35 35 35;
   }

   .tab-content{
     position: absolute;
     width: 450px;
     height: auto;
     margin-top: -50px;
     background: #fff;
     color: #000;
     border-radius: 30px;
     z-index: 1000;
     box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.4);
     padding: 30px;
     margin-bottom: 50px;
   }